extends ../templates/layout

block vars
    - var title = 'Visavik'

block content
    include ../components/index/sec1
    include ../components/index/sec2
    include ../components/index/sec3
    include ../components/index/sec4
    include ../components/index/sec5
    include ../components/index/sec6
    include ../components/index/sec7
    include ../components/index/sec8
    include ../components/index/sec9
    include ../components/index/sec10
    include ../components/index/sec11





