.sec11 {
	color: white;

	&__map {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;

		@include media(w768) {
			position: static;
			height: 300px;
		}
	}

	&__container {
		padding-top: 40px;
		padding-bottom: 40px;
		pointer-events: none;
		
		@include media(w1024) {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		@include media(w768) {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	&__content {
		background-color: rgba(5,163,215,0.8);
		pointer-events: auto;
		padding: 40px 50px;
		display: inline-block;
		width: 50%;

		@include media(w1024) {
			padding: 20px 20px 20px 40px;
		}

		@include media(w768) {
			display: block;
			margin-left: -$side-padding-mobile;
			margin-right: -$side-padding-mobile;
			padding: 20px $side-padding-mobile 10px $side-padding-mobile;
			width: auto;
		}
	}

	&__heading {
		margin-bottom: 0;

		@include media(w1280) {
			line-height: 1.2;
			font-size: 40px;
			margin-bottom: 0.5em;
		}

		@include media(w1024) {
			font-size: 30px;
		}

		@include media(w768) {
			font-size: 25px;
		}
	}

	&__contacts {
		background-image: url("../img/map-mark-icon.png");
		background-position: left top;
		background-repeat: no-repeat;
		margin-bottom: 20px;
		padding-left: 35px;

		@include media(w768) {
			background-position: left top 4px;
			background-size: 16px;
			padding-left: 25px;
		}
	}

	&__maplink {
		color: white;
		display: block;
	}

	&__adress {
		display: block;
		font-size: 24px;

		@include media(w1280) {

			br {
				display: none;
			}
		}

		@include media(w1024) {
			font-size: 20px;
		}

		@include media(w768) {
			font-size: 18px;
		}
	}

	&__worktime {
		font-size: 17px;
		font-weight: 300;
		margin-bottom: 1.4em;

		@include media(w1024) {
			font-size: 15px;
		}
	}

	&__phone {
		font-size: 30px;
		color: white;

		@include media(w1024) {
			font-size: 25px;
		}

		@include media(w768) {
			font-size: 20px;
		}
	}
}