.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-header-logo {
	font-size:(235.6/10)*1rem;
	width:(226.4/235.6)*1em;
}
.icon-sec1-people {
	font-size:(426.9/10)*1rem;
	width:(763.2/426.9)*1em;
}
.icon-sec2-people {
	font-size:(781.5/10)*1rem;
	width:(620.5/781.5)*1em;
}
.icon-sec3-passport {
	font-size:(2000/10)*1rem;
	width:(1687.32/2000)*1em;
}
.icon-sec5-gift {
	font-size:(406.1/10)*1rem;
	width:(657.6/406.1)*1em;
}
.icon-sec7-img1 {
	font-size:(34.5/10)*1rem;
	width:(13.8/34.5)*1em;
}
.icon-sec7-img3 {
	font-size:(60/10)*1rem;
	width:(60/60)*1em;
}
.icon-sec7-img4 {
	font-size:(2000/10)*1rem;
	width:(1524.54/2000)*1em;
}
.icon-sec8-women {
	font-size:(287.4/10)*1rem;
	width:(277.1/287.4)*1em;
}
.icon-sec9-icon1 {
	font-size:(100/10)*1rem;
	width:(112.2/100)*1em;
}
.icon-sec9-icon2 {
	font-size:(79.7/10)*1rem;
	width:(127.4/79.7)*1em;
}
.icon-sec9-icon3 {
	font-size:(503.9/10)*1rem;
	width:(479.3/503.9)*1em;
}
.icon-sec9-icon4 {
	font-size:(45/10)*1rem;
	width:(45/45)*1em;
}
.icon-sec9-icon5 {
	font-size:(124.7/10)*1rem;
	width:(119.4/124.7)*1em;
}
.icon-sec9-icon6 {
	font-size:(56.1/10)*1rem;
	width:(64.1/56.1)*1em;
}
.icon-sec9-icon7 {
	font-size:(121.4/10)*1rem;
	width:(87.1/121.4)*1em;
}
