section.sec.sec2
	div.container
		div.sec2__text-block
			h3.fw-bold.sec2__heading.
				В 2016 году каждый<br> 10-й россиянин получил<br> отказ в визе
			img(src="img/decor-line.png", alt="").sec2__decor-line
			p.fs-ml.sec2__title.fw-bold.
				С чем это связано? Любая ошибка в оформлении документов - ОТКАЗ После отказа шанс получить визу равен НУЛЮ
			div.sec2__statistics
				div
					span.sec2__number.
						45 400
					|
					|
					span.sec2__descr.
						– число отказов в шенгенской визе в 2016 году
				div
					span.sec2__number.
						10%
					|
					|
					span.sec2__descr.
						– статистика отказов в визе в США в 2016 году Каждый второй отказ – неправильная подача документов
	svg.icon-sec2-people.sec2__people
		use(xlink:href="#sec2-people")