section.sec.sec3
	div.container
		div.sec3__text-block
			div.fs-x.fw-semibold.sec3__heading.
				100%
			p.fs-l.fw-semibold.sec3__title.
				наша статистика выданных<br> виз за 10 лет работы
	svg.icon-sec3-passport.sec3__passport
		use(xlink:href="#sec3-passport")