include ../gallery

section#reviews.sec.sec4
	div.container
		h3.fw-bold.ta-center.sec4__heading.
			7657 клиентов Visavik<br> уже путешествуют в 38 странах мира
		p.sec4__title.fw-semibold.ta-center.
			VisaVik берет на себя все сложности, а вы путешествуете!
	+gallery("js-gallery")