section.thanks
	div.container
		p.thanks__heading.
			<span id="clientName">Наши</span> менеджеры<br> уже занимаются вашей заявкой
		p.thanks__title.
			Мы постараемся связаться с Вами в ближайшее время
		p.thanks__subtitle.
			График работы: с 9.00 до 19.30. Поэтому, если Вы оставили заявку в нерабочее время,<br> мы перезвоним Вам на следующий рабочий день
		a(href="/").btn.btn_main.thanks__btn.
			Перейти на основной сайт